/* Filename - App.css */
/* It contains the Form and Page Styling */

body {
  background: #f3f3f3;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: black;
}

.App {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 200px rgba(0, 0, 0, 0.2);
  padding: 40px;
  width: 500px;
  text-align: center;
}

h2 {
  color: black; /* Set h1 text color to black */
  font-family: 'Arial', sans-serif;
}

select {
  background-color: transparent;
  color: black;
}

option {
  background-color: transparent;
  color: black;
}

form {
  display: flex;
  /*flex-direction: column;*/
  align-items: flex-start;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

label {
  margin-right: 10px;
}

input[type='number'],
input[type='text'] {
  width: 100px;
  background-color: transparent; /* Ensure no background color */
  color: black; /* Set text color to black */
  margin-right: 5px;
}

.description {
  font-size: 0.9em;
  color: #666;
  text-align: center;
  padding: 10px;
}

.yearly-donation {
  margin-top: 20px;
  color: black;
  background: transparent;
  display: flex;
  text-align: center;
  padding: 10px;
}

.yearly-box {
  border: 2px solid green;
  padding: 6px;
  font-size: 1.5em; /* Substantially bigger font size */
  color: green; /* Set font color to cyan */
  font-weight: bold; /* Make font bold */
  display: inline-block;
}

.table-container {
  margin-top: 20px;
}

.styled-table {
  border-collapse: collapse;
  margin: 1px 0;
  font-size: 0.9em;
  font-family: 'Arial', sans-serif;
  min-width: 450px;
  border-radius: 5px;
  padding: 10px;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead {
  display: none; /* Hide the table header */
}

.styled-table tbody tr {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #dddddd;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
  text-align: left;
  width: 50%;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table tbody tr td:first-child {
  font-weight: bold;
  background-color: #009879;
  color: #ffffff;
}

.styled-fieldset {
  border: 2px solid #009879;
  border-radius: 5px;
  padding: 12px 15px;
  margin: 25px 0;
  font-family: 'Arial', sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;

  box-sizing: border-box;
}
