/* Filename - App.css */
/* It contains the Form and Page Styling */

body {
  background: #f3f3f3;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.App {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 200px rgba(0, 0, 0, 0.2);
  padding: 40px;
  /*width: 900px;*/
  text-align: center;
}

h2 {
  color: black; /* Set h1 text color to black */
  font-family: 'Arial', sans-serif;
  text-align: left;
}

select {
  background-color: transparent;
  color: black;
}

option {
  background-color: transparent;
  color: black;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

label {
  margin-right: 10px;
}

input[type='text'] {
  width: 100px;
  background-color: transparent; /* Ensure no background color */
  color: black; /* Set text color to black */
  margin-right: 5px;
}

/*.styled-fieldset {
  border: 2px solid #009879;
  border-radius: 5px;
  padding: 15px 10px;
  margin: 25px 0;
  font-family: 'Arial', sans-serif;
  font-size: 0.9em;
  font-weight: bold;
  text-align: left;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;

  box-sizing: border-box;
}*/
.styled-fieldset {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 20px 0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.styled-fieldset label {
  display: block;
  margin-bottom: 8px; /* Adjust this value to reduce the space between label and input */
  font-size: 0.9em;
  font-weight: bold;
  color: #333;
}

.styled-fieldset input,
.styled-fieldset select {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px; /* Adjust this value to reduce the space between input and next label */
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1em;
  background-color: #f9f9f9;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.styled-fieldset input:focus,
.styled-fieldset select:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}
.dashboard {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.dashboard-box {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  width: 50%;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 1em;
}

.dashboard-box h3 {
  margin: 0 0 10px;
}

.dashboard-box p {
  font-size: 1.5em;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}
